body{
	background: #e3e3e3;
}

.header{
	 height: 150px;
    background: #035;
}

.header p{
	    font-size: 105px;
    font-family: cursive;
        color: #FED

}

.main{
	width: 1080px;
	margin: auto;
	font-size: 20px;
	line-height: 2;
	font-family: sans-serif;
}

.main img{
	width: 720px;
}


iframe{
	width: 1080px;
	height: 400px;
}