body{
	
	margin: auto;
	background: url(images/welcome.jpg);
	
	
	
}
.main{


    font-size: 40px;
    
    text-align: center;
    background: #333;
}

.main h1{
	color: #FFFEE4;
	font-size: 100px;


}
.main h1, h2{
	margin: 0;


}

.main h2 a{
	text-decoration: none;

}

.main h2 a:hover{
	color: #FFFEE4;
}
    